
* {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.header {
    background-color: lightgray;
    padding: 20px;
}

/* popup items */
.popup {
    visibility: hidden;
    display: none;
    position: fixed;
    left: calc(50vw - 200px);
    top: calc(50vh - 150px);
}

form {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.show {
    display: block;
    visibility:unset;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: start;
}

.read {
    height: 100%;
    display: flex;
    align-items: center;
}

/* adding books */

.upper-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    width:50%;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid black 1px;
    border-radius: 5px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.card-body {
    padding-top: 10px;
}

.card-author {
    padding-right:30px;
}

/* add books button */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.open-popup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    outline: none;
    border: solid black 2px;
}

button:active {
    border: solid gray 2px;
}
